$primary-color: #DE964AFF;

.store-home {
  background-color: $primary-color;
  padding: 20px;
  margin: 10px;
  h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
}